@page "/"

<input type="text" list="my-datalist" />

<datalist id="my-datalist">
    <option value="1">George Washington</option>
    <option value="2">John Adams</option>
    <option value="3">Thomas Jefferson</option>
    <option value="4">James Madison</option>
    <option value="5">James Monroe</option>
    <option value="6">John Quincy Adams</option>
    <option value="7">Andrew Jackson</option>
    <option value="8">Martin Van Buren</option>
    <option value="9">William Henry Harrison</option>
    <option value="10">John Tyler</option>
    <option value="11">James K. Polk</option>
    <option value="12">Zachary Taylor</option>
    <option value="13">Millard Fillmore</option>
    <option value="14">Franklin Pierce</option>
    <option value="15">James Buchanan</option>
    <option value="16">Abraham Lincoln</option>
    <option value="17">Andrew Johnson</option>
    <option value="18">Ulysses S. Grant</option>
    <option value="19">Rutherford B. Hayes</option>
    <option value="20">James A. Garfield</option>
    <option value="21">Chester A. Arthur</option>
    <option value="22">Grover Cleveland</option>
    <option value="23">Benjamin Harrison</option>
    <option value="24">Grover Cleveland</option>
    <option value="25">William McKinley</option>
</datalist>
